.dimensions-container {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.dimensions-container input {
    height: 40px;
    width: 70px;
    font-size: 15px;
    margin: 0px 20px 0px 10px;
}

.dimensions-container h2 {
    padding: 0px;
    margin: 0px;
}
