.imagepreview-container {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 500px;
}

.imagepreview-content {
    border-radius: 5px;
    position: relative;
}

.imagepreview-interface {
    display: flex;
    align-items: baseline;
}
