.imagepreview-container {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 500px;
}

.imagepreview-content {
    border-radius: 5px;
    position: relative;
}

.imagepreview-interface {
    display: flex;
    align-items: baseline;
}

.imagepreview-container:hover .expandbutton-container,
.imagepreview-container:hover .downloadbutton-container {
    display: flex;
    -webkit-animation: fadein 0.5s;
    animation: fadein 0.5s;
}
