.preview-container {
    display: flex;
    flex-direction: column;
    height: 450px;
    width: 350px;
}

.preview-header {
    display: flex;
}

.preview-content {
    border-radius: 5px;
    position: relative;
}

.preview-interface {
    display: flex;
    margin-top: 5px;
    align-items: center;
}

.preview-container:hover .expandbutton-container,
.preview-container:hover .downloadbutton-container {
    display: flex;
    -webkit-animation: fadein 0.5s;
    animation: fadein 0.5s;
}

.preview-interface input {
    height: 40px;
    width: 70px;
    font-size: 15px;
}

.preview-interface p {
    color: var(--label-gray);
    font-weight: 600;
}

.preview-header {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.preview-header h2 {
    padding-right: 20px;
    border-right: 1px solid var(--label-gray);
    margin: 0px;
}
