.preview-container {
    display: flex;
    flex-direction: column;
    height: 450px;
    width: 350px;
}

.preview-content {
    border-radius: 5px;
    position: relative;
}

.preview-interface {
    display: flex;
    margin-top: 15px;
}

.preview-container:hover .expandbutton-container,
.preview-container:hover .downloadbutton-container {
    display: flex;
    -webkit-animation: fadein 0.5s;
    animation: fadein 0.5s;
}

.preview-interface input {
    height: 40px;
    width: 70px;
    font-size: 15px;
    margin: 0px 20px 0px 10px;
}

.preview-interface p {
    color: var(--label-gray);
    font-weight: 600;
}
