.current-color-container {
    display: flex;
    flex-direction: column;
}

.current-color-container h2 {
    color: var(--label-gray);
    text-align: left;
    padding: 0px;
    margin: 0px;
    font-weight: 600;
}

.current-color-content {
    display: flex;
    padding: 5px;
}

.current-color-colorbox {
    border-radius: 5px;
    height: 125px;
    width: 125px;
}

.current-color-info {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 25% 25% 25%;
    width: 130px;
    align-items: center;
}

.current-color-info p {
    text-align: center;
    color: var(--label-gray);
    font-weight: 600;
    padding: 0px;
    margin: 0px;
}

.current-color-info input {
    width: 60px;
    height: 25px;
    font-size: 12px;
}
