.current-color-container {
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.current-color-container h1 {
    color: #8b8b8b;
    text-align: left;
}

.current-color-content {
    display: flex;
    padding: 5px;
}

.current-color-colorbox {
    border-radius: 5px;
    height: 125px;
    width: 125px;
}

.current-color-info {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 25% 25% 25%;
    width: 200px;
    align-items: center;
}

.current-color-info p {
    text-align: center;
    color: #8b8b8b;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}

.current-color-info input {
    background-color: #ebebeb;
    border: none;
    margin: 3px;
    border-radius: 5px;
    padding: 0px 10px;
    font-size: 12px;
    width: 50px;
    height: 25px;
    text-align: center;
}
