.slide-container {
    height: 250px;
    width: 20px;
    margin: 0px 0px 0px 10px;
    position: relative;
}

.slide-gradient {
    height: 100%;
    width: 100%;
    background: linear-gradient(
        to bottom,
        red 0%,
        #ff0 17%,
        lime 33%,
        cyan 50%,
        blue 66%,
        #f0f 83%,
        red 100%
    );
    border-radius: 3px;
}
