.colorwheel-slider {
    height: 12px;
    width: 12px;
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    top: 17px;
    left: 200px;
    background: rgba(255, 255, 255, 0);
}

.colorwheel-slider-shadow {
    height: 12px;
    width: 12px;
    border: 2px solid #484848;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 18px;
    left: 203px;
    background: rgba(255, 255, 255, 0);
}
