.stackitem-container {
    display: grid;
    grid-template-columns: 10% 55% 25% 10%;
    width: auto;
    grid-template-rows: 100%;
    align-items: center;
    padding: 2px 10px;
    border-radius: 5px;

    -moz-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    -webkit-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
}

.stackitem-container svg {
    cursor: pointer;
}

.stackitem-container svg {
    transition: transform 0.1s;
}

.stackitem-container svg:hover {
    transform: scale(1.15);
}

.stackitem-container input {
    height: 40px;
    font-size: 15px;
    width: 90%;
    margin: 10px;
}

.stackitem-icon-container {
    width: 48px;
}

.stackitem-icon {
    display: none;
}

.stackitem-container:hover .stackitem-icon,
.stackitem-selected .stackitem-icon {
    display: flex;
    align-items: center;
}

.stackitem-container:hover {
    background-color: var(--hover-gray);
}

.stackitem-selected {
    background-color: var(--hover-gray);
    border-radius: 5px;
}

.stackitem-dark input {
    color: var(--input-text-light-gray);
}
