.stack-container {
    margin: 50px;
    display: flex;
    flex-direction: column;
    width: 450px;
}

.stack-container h2 {
    color: var(--label-gray);
    text-align: left;
    padding: 0px;
    margin: 0px;
    font-weight: 600;
}

.stack-container-label {
    display: grid;
    width: 100%;
    grid-template-columns: 10% 55% 25% 10%;
    grid-template-rows: 100%;
    align-items: center;
}

.stack-container-label p {
    text-align: center;
    color: var(--label-gray);
    font-weight: 600;
    padding: 0px;
    margin: 0px;
}
