.stack-container {
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 400px;
}

.stack-container-label {
    display: grid;
    width: 100%;
    grid-template-columns: 10% 55% 25% 10%;
    grid-template-rows: 100%;
    align-items: center;
}

.stack-container-label p {
    text-align: center;
    color: var(--label-gray);
    font-weight: 600;
}
