@import url('https://fonts.googleapis.com/css?family=Poppins:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

* {
    font-family: 'Poppins';
    font-weight: 400;
}

:root {
    --label-gray: #8b8b8b;
    --input-bg-gray: #ebebeb;
    --input-text-gray: #686868;
    --hover-gray: #cecece;
    --input-text-light-gray: #f5f5f5;
    --css-gray: #333333;
}

.App {
    display: flex;
    flex-direction: column;
    background-color: var(--input-text-light-gray);
    height: 100vh;
}

.container {
    display: flex;
    margin: 30px 50px;
}

input {
    background-color: var(--input-bg-gray);
    color: var(--input-text-gray);
    border: none;
    margin: 3px;
    border-radius: 5px;
    text-align: center;
    box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}

input:focus,
textarea:focus {
    box-shadow: inset 2px 2px 7px var(--input-text-gray);
    border-radius: 5px;
    outline: none;
}

h2 {
    color: var(--label-gray);
    text-align: left;
    padding: 0px;
    margin: 0px 0px 10px 0px;
    font-weight: 600;
}

p {
    padding: 0px;
    margin: 0px;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.left {
    display: flex;
    flex-direction: column;
}

.right {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.color-picker {
    display: flex;
}

.color-picker-right {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
