.css-container {
    margin-top: 30px;
    position: relative;
    height: 257px;
    display: flex;
    flex-direction: column;
}

.css-content textarea {
    background: var(--css-gray);
    color: var(--input-text-light-gray);
    text-align: left;
    font-family: monospace;
    padding: 20px;
    font-size: 15px;
    width: 400px;
    border-radius: 5px;
    resize: none;
}

.css-container:hover .copybutton-container {
    display: flex;
}
